/* common page clz */
.zz-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 0.36rem;
}

/* common text clz */
.text-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.zz-padding {
  padding: 10px;
}

.zz-margin {
  margin: 10px;
}

/* 公共卡片 */
.zz-card {
  box-sizing: border-box;
  width: 100%;
  height: 20vw;
  border: #EEE solid 0.5vw;
}
.zz-divider{
  width: 100%;
  height: 0.2vw;
  background: #CCCCCC;
}
